<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8"/>
    <title>Task Manager</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/portfolio.css" th:href="@{/css/portfolio.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>


<body>

<nav class="navbar navbar-expand-sm  navbar-light crypt_nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Task Manager</a>
        </div>
        <ul class="nav navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <table>
                <thead>
                <tr>
                    <td class="col-2">Public Id</td>
                    <td class="col-2">Internal Id</td>
                    <td class="col-2">Title</td>
                    <td class="col-2">Description</td>
                    <td class="col-2">Status</td>
                    <td class="col-2">Account Public Id</td>
                </tr>
                </thead>

                <tbody>
                <th:block th:each="task: ${tasks}">
                    <tr>
                        <td class="col-2" th:text="${task.publicId}"/>
                        <td class="col-2" th:text="${task.taskId}"/>
                        <td class="col-2" th:text="${task.title}"/>
                        <td class="col-2" th:text="${task.description}"/>
                        <td class="col-2" th:text="${task.status}"/>
                        <td class="col-2" th:text="${task.accountPublicId}"/>
                        <td class="col-2">
                            <form action="#" th:action="@{'/hello?action=complete&taskId={id}'(id=${task.taskId})}" th:object="${task}" method="post">
                                <input type="submit" value="Complete"  th:disabled="${task.status}=='COMPLETED'"/>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

        </div>
        <div class="col-12">
            <form action="#" th:action="@{/hello}" th:object="${taskDto}" method="post">
                <table border="1">
                    <tr>
                        <td><label th:text="Title"/></td>
                        <td><input type="text" th:field="*{title}"/></td>
                    </tr>
                    <tr>
                        <td><label th:text="Description"/></td>
                        <td><input type="text" th:field="*{description}"/></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit"/></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</div>

</body>
</html>